<!DOCTYPE html>
<html>
<head>
    <title>Registered Persons</title>
</head>
<body>
    <h1>Registered Persons</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{ person.id_number }}</td>
                <td>{{ person.name }}</td>
                <td><img src="{{ person.image.url }}" alt="{{ person.name }}" width="100"></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No persons registered</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
